.footer{
    padding-top: 2rem;
}

.footer__container{
    text-align: center;
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
    padding: var(--mb-0-25);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #fff;
}