<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-lg">
        <img src="../../../assets/arg-programa.png" id="LogoAP">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Acerca">Acerca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Habilidades">Habilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Proyectos">Proyectos</a>
            </li>
          </ul>
          <div class="header__buttons">
            <form class="button button--flex">
              <button class="btn" type="submit">Ingreso</button>
            </form>
          </div>  
          
        </div> 
    </div>

</nav>