<section>
    <div class="todo">
        <app-header></app-header>
        <main class="content main">
            
            <div #main id="Inicio">
                <app-main></app-main>
            </div>
            <div #about id="Acerca">
                <app-about></app-about>
            </div>
        
            <div #skill id="Habilidades">
                <app-skill></app-skill>
            </div>
        
            <div #project id="Proyectos">
                <app-project></app-project>
            </div>
        </main>
        
        <app-footer></app-footer>
    </div>
</section>