<section class="about section-padding">
    <div class="container-lg text-center">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Acerca de mi</h1>
                <p class="mb-4">Desarrollador web con experiencia en backend y frontend y tecnologias de diseño y publicidad.</p>
            </div>
            <div class="about__socials">
                <a href="https://www.linkedin.com/in/angel-gallardo-4154a4222/" target="_blank" class="home__social-icon">
                    <i class="uil uil-linkedin-alt"> </i> 
                </a>

                <a href="https://github.com/Gallardoangel" target="_blank" class="home__social-icon">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>
        </div>

        <div class="row text-center">
            <div class="qualification__container">
 
                <div class="row">
                    <div class="qualification__ew col-md-6">
                        <i class="uil uil-graduation-cap qualification__icon"></i>
                        Educacion
                    </div>
                    <div class="qualification__ew col-md-6">
                        <i class="uil uil-briefcase-alt qualification__icon"></i>
                        Trabajo
                    </div>
                </div>
    
                <div class="qualification__sections">
                    <!-- =================== CONTENIDO EDUCACION =================== -->
                    <div class="row">
                        <div class="qualification__content col-md-6" data-content id="education">
                            
                            <!-- =================== CONTENIDO 1 =================== -->
                            <div class="qualification__data">
                                <div>
                                    <h3 class="qualification__title">INGENIERIA ELECTRONICA</h3>
                                    <span class="qualification__subtitle">UNIVERSIDAD TECNOLOGICA NACIONAL -UTN</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i> 
                                        2016-SIGUIENDO
                                    </div>
                                </div>
                            </div>
        
                            <!-- =================== CONTENIDO 2 =================== -->
                            <div class="qualification__data">
                                <div>
                                    <h3 class="qualification__title">PROGRAMADOR WEB FULL STACK JR.</h3>
                                    <span class="qualification__subtitle">ARGENTINA PROGRAMA</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i> 
                                        2021-2022
                                    </div>
                                </div>
                            </div>
        
                            <!-- =================== CONTENIDO 3 =================== -->
                            <div class="qualification__data">
                                <div>
                                    <h3 class="qualification__title">BACHILLERATO CIENCIAS SOCIALES Y HUMANIDADES</h3>
                                    <span class="qualification__subtitle">COLEGIO HISPANO ARGENTINO</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i>
                                        2009 - 2015
                                    </div>
                                </div>
                            </div>
                        </div>
                    
    
                    <!-- =================== CONTENIDO TRABAJO =================== -->
                        <div class="qualification__content col-md-6" data-content id="work">
        
                            <!-- =================== CONTENIDO 1 =================== -->
                            <div class="qualification__data">
                                <div></div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                                <div>
                                    <h3 class="qualification__title">POLARIZADOS, ATENCION AL CLIENTE</h3>
                                    <span class="qualification__subtitle">XTREME CAR AUDIO</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i>
                                        2016 - 2017
                                    </div>
                                </div>
                            </div>
        
                            <!-- =================== CONTENIDO 2 =================== -->
                            <div class="qualification__data">
                                <div>
                                    <h3 class="qualification__title">DISEÑADOR Y ORG. DE EVENTOS</h3>
                                    <span class="qualification__subtitle">S PRODUCCIONES</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i>
                                        2019
                                    </div>
                                </div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <!-- <span class="qualification__line"></span> -->
                                </div>
                            </div>
                            <!-- =================== CONTENIDO 3 =================== -->
                            <div class="qualification__data">
                                <div>
                                    <h3 class="qualification__title">DISEÑADOR Y ORG. DE EVENTOS</h3>
                                    <span class="qualification__subtitle">EVENTAZO</span>
                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i>
                                        2021-2022
                                    </div>
                                </div>
                                <div>
                                    <span class="qualification__rounder"></span>
                                    <span class="qualification__line"></span>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>